Source: openmediavault-calibreweb
Section: graphics
XB-Plugin-Section: multimedia
XB-Plugin-Architecture: amd64, arm64
Priority: optional
Maintainer: Bernardo Bandos <jbbandos@hotmail.com>
Build-Depends: debhelper (>= 12), gettext
Standards-Version: 3.9.6
Homepage: https://www.openmediavault.org

Package: openmediavault-calibreweb
Architecture: all
Depends: openmediavault (>= 6.5.4), podman, catatonit
Priority: optional
Description: openmediavault CalibreWeb plugin
 Calibre-Web is a web app that offers a clean and intuitive interface for browsing, reading,
 and downloading eBooks using a valid Calibre database.
